# Enable Rewrite Engine
RewriteEngine On

# Base folder
RewriteBase /Inventory/

# If request is not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php
RewriteRule ^ index.php [QSA,L]
